<h1>It's Rock, Paper, Scissors Time!</h1>

<form action="/" method="post">
  <input type="radio" name="player1" value="rock"><img src="icons8-rock-50.png" height="50px" alt="rock">
  <input type="radio" name="player1" value="paper"><img src="paperIcon.png" height="50px" alt="paper">
  <input type="radio" name="player1" value="scissors"><img src="scissorsIcon.png" height="50px" alt="scissors">
  <input type="radio" name="player1" value="lizard"><img src="lizardIcon.png" height="50px" alt="lizard">
  <input type="radio" name="player1" value="spock"><img src="icons8-spock-50.png" height="50px" alt="spock"><br>

  <input type="radio" name="player2" value="rock"><img src="icons8-rock-50.png" height="50px" alt="rock">
  <input type="radio" name="player2" value="paper"><img src="paperIcon.png" height="50px" alt="paper">
  <input type="radio" name="player2" value="scissors"><img src="scissorsIcon.png" height="50px" alt="scissors">
  <input type="radio" name="player2" value="lizard"><img src="lizardIcon.png" height="50px" alt="lizard">
  <input type="radio" name="player2" value="spock"><img src="icons8-spock-50.png" height="50px" alt="spock"><br>
  <input type="submit">
</form>
