<h1>It's Rock, Paper, Scissors Time!</h1>

<form action="/" method="post">
  <input type="radio" name="player1" value="rock">Rock
  <input type="radio" name="player1" value="paper">Paper
  <input type="radio" name="player1" value="scissors">Scissors
  <input type="radio" name="player1" value="lizard">Lizard
  <input type="radio" name="player1" value="spock">Spock<br>

  <input type="radio" name="player2" value="rock">Rock
  <input type="radio" name="player2" value="paper">Paper
  <input type="radio" name="player2" value="scissors">Scissors
  <input type="radio" name="player2" value="lizard">Lizard
  <input type="radio" name="player2" value="spock">Spock<br>
  <input type="submit">
</form>
