<h1>Rules!</h1>
<p>Rock beats scissors.</p>
<p>Scissors beats paper</p>
<p>Paper beats rock</p>
<p>********************</p>
<p>Scissors cuts paper, paper covers rock,
<p>rock crushes lizard, lizard poisons Spock,</p>
<p>Spock smashes scissors, scissors decapitates lizard,</p>
<p>lizard eats paper, paper disproves Spock,</p>
<p>Spock vaporizes rock, and as it always has,</p>
<p>rock crushes scissors.</p>
