<h1>Rock, Paper, Scissors, Lizard, Spock</h1>


<h2>Rules!</h2>
<h3>As explained by Dr Sheldon Cooper</h3>

<p>********************</p>
<p>Scissors cuts Paper, Paper covers Rock,
<p>Rock crushes Lizard, Lizard poisons Spock,</p>
<p>Spock smashes Scissors, Scissors decapitates Lizard,</p>
<p>Lizard eats Paper, Paper disproves Spock,</p>
<p>Spock vaporizes Rock, and as it always has,</p>
<p>Rock crushes Scissors.</p>
